<div class="container">
<h1><%= @user.name %></h1>
<ul>
  <li>Username: <%= @user.name %></li>
  <li>Watched <%= pluralize(@user.count, 'Anime') %>:</li>
    <ul>
      <% @user.first.animes.each do |anime| %>
      <li><%= link_to anime.name, anime %></li>
      <% end %>
    </ul>
  </li>
</ul>
</div>