<div id="intro" class="p-5 text-center">
    <h1 class="mb-0">Welcome to Anime Rating!</h1>
    <p>Are you ready for rating?</p>
</div>

<div class="container">
  <h2>Top 10 Movies</h2>
  <ol>
    <% @animes.each do |anime| %>
    <li>
      <%= link_to anime.name, anime %>
    </li>
    <% end %>
  </ol>
</div>