<div id="intro" class="p-5 text-center">
    <h1 class="mb-0">Anime Rating</h1>
</div>

<%= paginate @animes %>

<div class="container">
<ul>
  <% @animes.each do |anime| %>
    <li><%= link_to anime.name, anime %></li>
  <% end %>
</ul>
</div>