<div class="container">
  <div class="row">
    <div class="col">
      <h1>ERD Diagram</h1>
      <%= image_tag('Anime_ERD.png', draggable: "true", id: "drag1") %>
    </div>
    <div class="col">
      <h1>About Anime Rating</h1>
      <p>
        The Anime Rating contains 500 animes from Anime Recommendations Database in Kaggle.
        It allows users to rate animes.
      </p>
    </div>
  </div>
</div>